<div class="container-fluid">
	<div class="col-md-8">
		<p>
			The United Arab Emirates is the constitutional federation of seven emirates: Abu Dhabi, Dubai, Sharjah, Ajman, Umm Al-Quwain, Ras Al Khaimah, and Al Fujairah. It stretched over 1448 km from the west coast of Persian Gulf and Gulf of Oman, where water and land overlap, to the Arabian Peninsula.

			Rich of pearls which have been sustaining the UAE population for centuries, the coastline is studded with islands, coral reefs and ridges. Nearly 200 islands fall under the UAE territory on Persian Gulf, including Abu Dhabi Island, capital of United Arab Emirates, Das Island which is rich in Oil, Delma Island which is rich in pearls, Umm Al Nar Island, Saadyat Island, Hamra Island near Ras Al Khaimah, Abu Moosa Island, Greater Tunb Island, Lesser Tunb Island, and other islands which have left their mark on UAE.

			The United Arab Emirates mainland varies from narrow plains surrounded with sand desert throughout the west and the south to highlands stretching in the Far East and southern east to the borders of Oman.

			According to recent discoveries, human settlement in UAE dates back to several thousand years and probably, to the Stone Age (5500 B.C. or 7500 B.C.), where the weather was humid with frequent rainfall.

		</p>
	</div>

	<div class="col-md-4">
		<img src="img/1.jpg" style="height:250px">
	</div>
</div>