<div class="container-fluid">
	<div class="col-md-8">
		<p>
			This is a destination with almost year-round sunshine, little rainfall and near perfect winter temperatures.

			Abu Dhabi has a sub-tropical, arid climate. Sunny blue skies and high temperatures can be expected most of the year. Rainfall is sporadic, falling mainly in winter (November to March) and averaging 12cms per year in most of the emirate. Rain is more common in the ‘Oasis City' of Al Ain, the emirate’s second largest city, due to its proximity to the Hajar mountains.

			Temperatures range from a low of around 13°C (50°F) on a winter’s night, to a high of around 42°C (118°F) on a summer’s day. The cooler months, November to April, are the most pleasant time to visit, when temperatures are around 24°C (75°F) during the day and 13°C (56°F) at night.


			The UAE is four hours ahead of UTC (Co-ordinated Universal Time – formerly known as GMT) and there is no daylight saving. Hence, when it is 12.00 midday in Abu Dhabi, it is 3am in New York, 8am in London, 10am in Johannesburg, 1.30pm in New Delhi, and 6pm in Sydney (not allowing for any summer time saving in those countries).

		</p>
	</div>

	<div class="col-md-4">
		<img src="img/2.jpg" style="height:300px">
	</div>
</div>