<div class="container-fluid">
	<div class="col-md-8">
		<p>
			Earliest human occupation in the UAE is recorded as far back as 5500 BC or 7500 years ago, although new evidence suggests that the first human inhabitants could have arrived here much earlier during the Early Stone Age.
		</p>

        <p>
			Collective burials were noted during 3000-2500 BC on the lower slopes of Jebel Hafit (also spelled Hafeet) in Abu Dhabi, while the existence of first oasis towns as well as communal tombs were noted in the Northern Emirates in the succeeding 500 years. The domestication of the camel somewhere around the second millennium facilitated trade, primarily copper from the Hajar Mountain, with the southern cities of Iraq and Syria.
		</p>

		<p>
			Discovery of an irrigation technology called falaj highlighted the Iron Age, somewhere between 1300 and 300 BC. This technique entails subterranean galleries which led water from mountain aquifers to lower-lying oases and gardens, encouraging the formation of settlements. Other significant developments during this ancient era are the first use of iron, first writing using south Arabian alphabet, and initial contacts with Assyrian and Persian empires.
		</p>

		<p>
			Production of local coinage did not commence until around 300 BC, along with evidence of trade imports from Greece and South Arabia. The first use of horse by inhabitants was also recorded around this time.
		</p>

		<p>
			The succeeding centuries saw flourishing settlements and strong trade network extending throughout the Mediterranean, Syria, Iraq and India. A ruler called Abiél also encouraged the mass production of coinage, and it is around this time that the first use of Aramaic inscription was discovered from ed-Dur and Mleiha.
		</p>

		<p>
			The year 630 AD marked the arrival of envoys from the Prophet Muhammad heralding the conversion of people to Islam.
		</p>

		<p>
			Such was the status quo until the Portuguese arrived in the Gulf in the sixteenth century, stirring fierce rivalry between them and the Ottoman. The arrival of the Portuguese likewise coincided with the strengthening of the Qawasim, a group of sheikhs and their sheikhdoms that built an economic powerhouse and used military force to resist foreign control of trade. Such resistance eventually provoked a British offensive which quelled the Qawasim around the second half of the 1700s.
		</p>

		<p>
			An important cluster of villages at Liwa, comprising the Bani Yas clan, was thriving even before the onset of this turbulent era. The “boom” that was being experienced by the pearling industry particularly in the area which is today known as Abu Dhabi city attracted the Bani Yas clan, led by the Sheikh of Al Bu Falah (Al Nahyan family), to migrate to Abu Dhabi from Liwa. Part of this clan, called Al Bu Fasalah, later decided to settle by the creek in today’s Dubai and establish the Maktoum rule.
		</p>

		<p>
			The defeat of the Qawasim led the British to sign individual treaties with each of the emirates in the early 1800s, which eventually included a maritime truce, hence, the initial name Trucial States.
		</p>

		<p>
			The various coastal towns in the Trucial States enjoyed flourishing economy throughout the nineteenth century and in the first decade of the 20th century primarily due to a lucrative pearling industry in the region. The boom in the pearling industry, however, was cut short when World War 1 broke, and was further severely impaired by the economic depression that followed in the late 1920s and early 1930s. The invention of cultured pearl by the Japanese, however, proved to be the final straw that led to the collapse of the industry, leaving the coastal towns of Abu Dhabi, Dubai and Ras Al Khaimah reeling in such loss.
		</p>

		<p>
			An astute man, who was to become the first president of the UAE, was born to Abu Dhabi ruler Sheikh Sultan at the onset of this economic shakedown, around 1918. Named after his grandfather and the youngest of four sons, Sheikh Zayed at an early age displayed a keen interest in acquiring knowledge and in understanding the desert and the sea, and how people relate to their environment.
		</p>

		<p>
			Sheikh Zayed was only 28 when he became the Ruler’s Representative in Al Ain, administering the needs of six villages as well as the neighbouring region. The young leader utilized this time to gain a deep understanding of the government and the existing tribes, whilst laying out plans that led Al Ain to become a model community in terms of agriculture, water supply and education, amongst other important areas of development.
		</p>

		<p>
			On the background, rudimentary oil exploration has been taking place in Abu Dhabi dating back in the 1930s. At the time a consortium of Western oil companies operating in Iraq (under the name Iraq Petroleum Company) sought to explore the lower gulf for oil and found a potential oilfield in Abu Dhabi. Concession agreements between the company and Abu Dhabi’s ruler were signed over a period of several years which culminated to the establishment of the first oil company in Abu Dhabi, called Petroleum Development (Trucial Coast), in 1951. Eleven years later, the first export of crude oil from Abu Dhabi was underway.
		</p>

		<p>
			In 1968, the British announced their planned withdrawal in three year’s time. As soon as the prospect of being independent became apparent, Sheikh Zayed, who succeeded his brother as ruler of Abu Dhabi in 1966, lost no time rallying rulers of the other emirates to form a strong federation and on December 2, 1971, the United Arab Emirates was born.
		</p>

		<p>
			Sheikh Zayed, who was consequently elected as UAE president by his fellow rulers, utilized the state’s enormous oil-based income to promote the welfare of his people through education and infrastructure development, and his 33 year-rule saw the state develop at unprecedented pace. From an ancestry of semi-nomadic people who depended on seafaring and pearling in the summer and date palm gardening during the winter, Abu Dhabi has now acceded as one of the world’s most promising and sophisticated business and holiday centres. And all these happened in less than three quarters of a century.
		</p>

		<p>
			Abu Dhabi is the largest and most populated of the seven emirates that make up the United Arab Emirates, with over 80% of its landmass. The emirate’s population, now over 1.6 million, is growing at an average annual rate of 4.7%. Across the UAE, Emirati citizens make up nearly 20% of the total population; the other 80% are expatriates from Asia, Africa, Australia, Europe and North America.
		</p>

		<p>
			Arabic is the official language, although English is widely spoken and most road and shop signs and restaurant menus are in both languages. The further out of town you go, the more Arabic you will find, both written and spoken.
		</p>

		<p>
			There are three types of spoken Arabic in contemporary Abu Dhabi. The oldest form of the language is known as Classical Arabic (think Shakesperean English), which is not commonly spoken by Arabs today, at least not in their everyday conversations. The revelation of Quran in Classical Arabic explains for the most part why the language has been preserved down the centuries; it is also the language of royal and princely courts, and the educated elite throughout Islamic history.
		</p>

		<p>
			Literary Arabic or Modern Standard Arabic (MSA), on the other hand, is used in formal or business settings such as in the broadcast media or in governmental proceedings. University or formal courses in Arabic language are oriented towards this type of spoken Arabic. The third type is Colloquial Arabic, which combines some of the features of both Classical and Modern Arabic, but assumes regional nuances and is used by Arabs in everyday conversations. Colloquial variations explain the different pronunciations or spelling for the same alphabet in Arabic. For example the alphabet “qaaf” is pronounced “g” in Bedouin dialects, and then becomes ‘k’ in places like rural Palestine. However in most Gulf countries the same alphabet could be pronounced or spelt as “j” or “g”.
		</p>


		<p>
			Abu Dhabi locals speak Gulf Arabic, which is the native spoken language of Arab nationals in countries such as Bahrain, Kuwait, Qatar, Saudi Arabia, Southern Iraq, UAE and to a lesser extent, Oman.
		</p>

		<p>
			Islam is the official religion of the UAE, and is widely practised. The basis of Islam is the belief that there is only one God and that Prophet Mohammed (peace be upon him) is his messenger. The Islamic holy day is Friday. Muslim is required to pray (facing Mecca) five times a day. The times vary according to the position of the sun, when the modern-day call-to-prayer is transmitted through loudspeakers on mosque minarets.
		</p>

		<p>
			The UAE Constitution provides for freedom of religion in accordance with established customs. Abu Dhabi is tolerant of other religions with people being free to practice their religious beliefs, so long as they do not interfere with Islam.
		</p>


	</div>

	<div class="col-md-4">
		<img src="img/4.jpg" style="height:500px">
	</div>
</div>