<div class="container-fluid">
 <div class="col-md-10">

	 <h1> Registration Form </h1>
	 <hr>
	<form class="form-horizontal">

		<div class="form-group">
			<label for="name" class="col-sm-3 control-label">Name</label>
			<div class="col-sm-5">
				<input type="text" class="form-control" id="name" required>
			</div>
		</div>


		<div class="form-group">
			<label class="col-sm-3 control-label">Citizenship</label>
			<div class="col-sm-4">
				<select class="form-control">
					<option>UAE</option>
					<option>USA</option>
					<option>UK</option>
					<option>KSA</option>
				</select>
			</div>
		</div>


		<div class="form-group">
			<label class="col-sm-3 control-label">Number of Visits to UAE</label>
			<div class="col-sm-5">
				<div class="radio">
					<label class="radio-inline">
						<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked> 0
					</label>
					<label class="radio-inline">
						<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 1
					</label>
					<label class="radio-inline">
						<input type="radio" name="inlineRadioOptions" value="option3">2
					</label>

					<label class="radio-inline">
						<input type="radio" name="inlineRadioOptions"  value="option4">3
					</label>

					<label class="radio-inline">
						<input type="radio" name="inlineRadioOptions"  value="option5">4+
					</label>
				</div>


			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 control-label">Hobbies</label>
			<div class="col-sm-5">

				<label class="checkbox-inline">
					<input type="checkbox" value="option1"> Sight Seeing
				</label>

				<label class="checkbox-inline">
					<input type="checkbox" value="option2"> Shopping
				</label>

			</div>
		</div>

		<div class=" col-sm-offset-3 col-sm-3">
			<button type="button" class="btn btn-success">Submit</button>
			<button type="button" class="btn btn-danger">Clear</button>
		</div>
	</form>

 </div>
</div>